In [2]:
import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [3]:
pwd

'/Users/dylanteasdale/Desktop/datascience/module01/project01/movie-analysis-project'

In [4]:
df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [5]:
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [6]:
from glob import glob

In [7]:
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData/imdb.title.crew.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.title.ratings.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz',
 './zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.title.principals.csv.gz']

In [8]:
type(csv_files)
d = {}

In [9]:
for file in csv_files:
    d[file] = pd.read_csv(file)

In [10]:
d.keys()

dict_keys(['./zippedData/imdb.title.crew.csv.gz', './zippedData/tmdb.movies.csv.gz', './zippedData/imdb.title.akas.csv.gz', './zippedData/imdb.title.ratings.csv.gz', './zippedData/imdb.name.basics.csv.gz', './zippedData/imdb.title.basics.csv.gz', './zippedData/tn.movie_budgets.csv.gz', './zippedData/bom.movie_gross.csv.gz', './zippedData/imdb.title.principals.csv.gz'])

In [11]:
d['./zippedData/imdb.title.crew.csv.gz'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB

In [12]:
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") # cleaning the filenames
    filename_df = pd.read_csv(filename, index_col=0)
    csv_files_dict[filename_cleaned] = filename_df

In [13]:
csv_files_dict.keys()

dict_keys(['imdb_title_crew_gz', 'tmdb_movies_gz', 'imdb_title_akas_gz', 'imdb_title_ratings_gz', 'imdb_name_basics_gz', 'imdb_title_basics_gz', 'tn_movie_budgets_gz', 'bom_movie_gross_gz', 'imdb_title_principals_gz'])

In [14]:
csv_files_dict['imdb_title_crew_gz'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(2)
memory usage: 3.3+ MB

In [15]:
for key in csv_files_dict:
     print(key, csv_files_dict[key].info())

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(2)
memory usage: 3.3+ MB
imdb_title_crew_gz None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB
tmdb_movies_gz None
<class 'pandas.core.frame.DataFrame'>
Index: 331703 entries, tt0369610 to tt9880178
Data columns (total 7 columns):
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 20.2+ MB
imdb_title_akas_gz None
<class 'pandas.core.frame.DataFrame'>
Index: 73856 entries, tt10356526 to tt9894098
Data columns (total 2 columns):
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1)
memory usage: 1.7+ MB
imdb_title_ratings_gz None
<class 'pandas.core.frame.DataFrame'>
Index: 606648 entries, nm0061671 to nm9993380
Data columns (total 5 columns):
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(3)
memory usage: 27.8+ MB
imdb_name_basics_gz None
<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.7+ MB
imdb_title_basics_gz None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: object(5)
memory usage: 271.0+ KB
tn_movie_budgets_gz None
<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB
bom_movie_gross_gz None
<class 'pandas.core.frame.DataFrame'>
Index: 1028186 entries, tt0111414 to tt9692684
Data columns (total 5 columns):
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(4)
memory usage: 47.1+ MB
imdb_title_principals_gz None

Since we will be working with Pandas we need to organize our DFs. Let's start by renaming all of them and adding them to a new dictionary. By creating a new dictionary of DFs, we can manipulate the data without messing up the originals in csv_files_dict.

In [16]:
df_repository = {} #by creating a dictionary, we can manipulate the data without messing up the originals in csv_files_dict
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") # cleaning the filenames    
    exec('df_'+ filename_cleaned + """ = csv_files_dict['""" + filename_cleaned + """']""") #executing code using strings
    exec("""df_repository[""" + """'""" + filename_cleaned + """']""" + """= df_""" + filename_cleaned )

As seen below, the dataframes contain duplicates, which should be removed

In [17]:
for db in df_repository.keys():
    print(db, 'contains ', df_repository[db].duplicated().sum(), ' duplicates')

imdb_title_crew_gz contains  22915  duplicates
tmdb_movies_gz contains  1020  duplicates
imdb_title_akas_gz contains  2220  duplicates
imdb_title_ratings_gz contains  45074  duplicates
imdb_name_basics_gz contains  239  duplicates
imdb_title_basics_gz contains  122  duplicates
tn_movie_budgets_gz contains  0  duplicates
bom_movie_gross_gz contains  11  duplicates
imdb_title_principals_gz contains  114187  duplicates

In [18]:
def clean_duplicates(dataframe): #returns a dataframe without duplicates
    cleaned_filter = dataframe.duplicated()
    index_to_drop = dataframe.loc[cleaned_filter].index
    return dataframe.drop(index=index_to_drop)

In [19]:
for db in df_repository.keys(): #loop to parse dataframes through the clean_duplicates() function we wrote above
    df_repository[db] = clean_duplicates(df_repository[db])

In [20]:
for db in df_repository.keys():
    print(db, 'contains ', df_repository[db].duplicated().sum(), ' duplicates') #checking if it worked

imdb_title_crew_gz contains  0  duplicates
tmdb_movies_gz contains  0  duplicates
imdb_title_akas_gz contains  0  duplicates
imdb_title_ratings_gz contains  0  duplicates
imdb_name_basics_gz contains  0  duplicates
imdb_title_basics_gz contains  0  duplicates
tn_movie_budgets_gz contains  0  duplicates
bom_movie_gross_gz contains  0  duplicates
imdb_title_principals_gz contains  0  duplicates

Elimination of NaN values

In [21]:
def NaN_to_zero(DataFrame, DataSeries, change_into=0):
    filt = DataSeries.isna()
    DataFrame.loc[filt] = change_into
    return DataFrame

In [22]:
#testing the NaN_to_zero function 
df_bom_movie_gross_gz.isna().sum()

studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [23]:
NaN_to_zero(df_bom_movie_gross_gz, df_bom_movie_gross_gz.foreign_gross).isna().sum()

studio             4
domestic_gross    28
foreign_gross      0
year               0
dtype: int64

In [24]:
def string_to_float(string):
    if string == None:
        new_string = 0
    else:
        if (type(string) != int) and (type(string) != float):
            new_string = string.replace('$', '')
            new_string = new_string.replace(',', '')

        else:
            new_string = string
    return float(new_string)


def series_string_to_float(dataseries):
    new_dataseries = dataseries.apply(string_to_float)
    return new_dataseries

In [25]:
type(df_bom_movie_gross_gz.foreign_gross[0]) #the data here is stored as strings instead of numerical values

str

In [26]:
new_series = series_string_to_float(df_bom_movie_gross_gz.foreign_gross)
type(new_series[0]) #checking if it works

numpy.float64

After cleaning data, we can start creating new features

In [27]:
df_bom_movie_gross_gz.foreign_gross = series_string_to_float(df_bom_movie_gross_gz.foreign_gross)

In [28]:
df_bom_movie_gross_gz['total_gross'] = df_bom_movie_gross_gz['foreign_gross'].add(df_bom_movie_gross_gz['domestic_gross'], fill_value=0.0)
df_bom_movie_gross_gz.head()

,studio,domestic_gross,foreign_gross,year,total_gross
title,,,,,
Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09
Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010,1.025500e+09
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010,9.603000e+08
Inception,WB,292600000.0,535700000.0,2010,8.283000e+08
Shrek Forever After,P/DW,238700000.0,513900000.0,2010,7.526000e+08


In order to simplify the manipulation of data, the column names of each df could be standardized ('title' vs 'movie title' vs 'original title', etc)

Question 1: How does Genre affect box office profits?

Let's start by working out what data we will uise for profits

We can compare the two datasets of columns of 'worldwide_gross' & 'total_gross' which we created earlier

In [29]:
tn_movies = list(df_tn_movie_budgets_gz.movie.unique())
#I reset the index because it was the movie title
bom_movies = list(df_bom_movie_gross_gz.reset_index().title.unique())

In [30]:
len(set(tn_movies + bom_movies))

7846

In [31]:
df_tn_movie_budgets_gz.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [32]:
df_tn_movie_budgets_gz.domestic_gross = series_string_to_float(df_tn_movie_budgets_gz.domestic_gross)

In [33]:
df_tn_movie_budgets_gz.worldwide_gross = series_string_to_float(df_tn_movie_budgets_gz.worldwide_gross)

In [34]:
df_tn_movie_budgets_gz.production_budget = series_string_to_float(df_tn_movie_budgets_gz.production_budget)

In [35]:
df_tn_movie_budgets_gz.sort_values(by=['domestic_gross'], ascending=False).head(50)

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09
1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
42,"Feb 16, 2018",Black Panther,200000000.0,700059566.0,1.348258e+09
7,"Apr 27, 2018",Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09
43,"Dec 19, 1997",Titanic,200000000.0,659363944.0,2.208208e+09
34,"Jun 12, 2015",Jurassic World,215000000.0,652270625.0,1.648855e+09
27,"May 4, 2012",The Avengers,225000000.0,623279547.0,1.517936e+09
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09
44,"Jun 15, 2018",Incredibles 2,200000000.0,608581744.0,1.242521e+09
75,"Jul 18, 2008",The Dark Knight,185000000.0,533720947.0,1.001996e+09
45,"Dec 16, 2016",Rogue One: A Star Wars Story,200000000.0,532177324.0,1.049103e+09
35,"Mar 17, 2017",Beauty and the Beast,160000000.0,504014165.0,1.259200e+09
46,"Jun 17, 2016",Finding Dory,200000000.0,486295561.0,1.021215e+09
4,"May 19, 1999",Star Wars Ep. I: The Phantom Menace,115000000.0,474544677.0,1.027045e+09
65,"May 25, 1977",Star Wars Ep. IV: A New Hope,11000000.0,460998007.0,7.865980e+08
4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
11,"Jul 20, 2012",The Dark Knight Rises,275000000.0,448139099.0,1.084439e+09
93,"May 19, 2004",Shrek 2,70000000.0,441226247.0,9.370081e+08
26,"Jun 11, 1982",ET: The Extra-Terrestrial,10500000.0,435110554.0,7.929653e+08
96,"Mar 8, 2019",Captain Marvel,175000000.0,426525952.0,1.123062e+09
38,"Nov 22, 2013",The Hunger Games: Catching Fire,130000000.0,424668047.0,8.648680e+08
28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,225000000.0,423315812.0,1.066216e+09
9,"Jun 15, 1994",The Lion King,79300000.0,421785283.0,9.862149e+08
13,"Jun 22, 2018",Jurassic World: Fallen Kingdom,170000000.0,417719760.0,1.305773e+09
47,"Jun 18, 2010",Toy Story 3,200000000.0,415004880.0,1.068880e+09
55,"Jun 2, 2017",Wonder Woman,150000000.0,412563408.0,8.211334e+08
48,"May 3, 2013",Iron Man 3,200000000.0,408992272.0,1.215392e+09
17,"May 6, 2016",Captain America: Civil War,250000000.0,408084349.0,1.140069e+09
38,"Mar 23, 2012",The Hunger Games,80000000.0,408010692.0,6.779234e+08
38,"Dec 20, 2017",Jumanji: Welcome to the Jungle,90000000.0,404508916.0,9.644962e+08
19,"May 3, 2002",Spider-Man,139000000.0,403706375.0,8.217064e+08
36,"Jun 24, 2009",Transformers: Revenge of the Fallen,210000000.0,402111870.0,8.365197e+08
56,"Nov 22, 2013",Frozen,150000000.0,400738009.0,1.272470e+09
25,"Jun 11, 1993",Jurassic Park,63000000.0,395708305.0,1.038813e+09
49,"May 5, 2017",Guardians of the Galaxy Vol 2,200000000.0,389813101.0,8.623162e+08
61,"Jul 15, 2011",Harry Potter and the Deathly Hallows: Part II,125000000.0,381193157.0,1.341693e+09
25,"May 30, 2003",Finding Nemo,94000000.0,380529370.0,9.364294e+08
5,"May 19, 2005",Star Wars Ep. III: Revenge of the Sith,115000000.0,380270577.0,8.489989e+08
26,"Dec 17, 2003",The Lord of the Rings: The Return of the King,94000000.0,377845905.0,1.141403e+09
86,"Nov 13, 1991",Beauty and the Beast,20000000.0,376057266.0,6.084311e+08
50,"Jun 30, 2004",Spider-Man 2,200000000.0,373524485.0,7.951107e+08
60,"Feb 25, 2004",The Passion of the Christ,25000000.0,370782930.0,6.223419e+08
26,"Jul 8, 2016",The Secret Life of Pets,75000000.0,368384330.0,8.867505e+08
22,"Jul 3, 2013",Despicable Me 2,76000000.0,368065385.0,9.752168e+08
97,"Apr 15, 2016",The Jungle Book,175000000.0,364001123.0,9.628545e+08
56,"Feb 12, 2016",Deadpool,58000000.0,363070709.0,8.010256e+08
98,"Jun 19, 2015",Inside Out,175000000.0,356461711.0,8.542360e+08
67,"Apr 3, 2015",Furious 7,190000000.0,353007020.0,1.518723e+09
64,"Jun 29, 2011",Transformers: Dark of the Moon,195000000.0,352390543.0,1.123791e+09
57,"Dec 25, 2014",American Sniper,58000000.0,350126372.0,5.473264e+08

In [36]:
df_bom_movie_gross_gz.sort_values(by=['domestic_gross'], ascending=False).head(50)

,studio,domestic_gross,foreign_gross,year,total_gross
title,,,,,
Star Wars: The Force Awakens,BV,936700000.0,1131.6,2015,9.367011e+08
Black Panther,BV,700100000.0,646900000.0,2018,1.347000e+09
Avengers: Infinity War,BV,678800000.0,1369.5,2018,6.788014e+08
Jurassic World,Uni.,652300000.0,1019.4,2015,6.523010e+08
Marvel's The Avengers,BV,623400000.0,895500000.0,2012,1.518900e+09
Star Wars: The Last Jedi,BV,620200000.0,712400000.0,2017,1.332600e+09
Incredibles 2,BV,608600000.0,634200000.0,2018,1.242800e+09
Rogue One: A Star Wars Story,BV,532200000.0,523900000.0,2016,1.056100e+09
Beauty and the Beast (2017),BV,504000000.0,759500000.0,2017,1.263500e+09
Finding Dory,BV,486300000.0,542300000.0,2016,1.028600e+09
Avengers: Age of Ultron,BV,459000000.0,946400000.0,2015,1.405400e+09
The Dark Knight Rises,WB,448100000.0,636800000.0,2012,1.084900e+09
The Hunger Games: Catching Fire,LGF,424700000.0,440300000.0,2013,8.650000e+08
Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000.0,2018,1.309500e+09
Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09
Wonder Woman,WB,412600000.0,409300000.0,2017,8.219000e+08
Iron Man 3,BV,409000000.0,805800000.0,2013,1.214800e+09
Captain America: Civil War,BV,408100000.0,745200000.0,2016,1.153300e+09
The Hunger Games,LGF,408000000.0,286400000.0,2012,6.944000e+08
Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000.0,2017,9.621000e+08
Frozen,BV,400700000.0,875700000.0,2013,1.276400e+09
Guardians of the Galaxy Vol. 2,BV,389800000.0,473900000.0,2017,8.637000e+08
Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000.0,2011,1.341500e+09
The Secret Life of Pets,Uni.,368400000.0,507100000.0,2016,8.755000e+08
Despicable Me 2,Uni.,368100000.0,602700000.0,2013,9.708000e+08
The Jungle Book (2016),BV,364000000.0,602500000.0,2016,9.665000e+08
Deadpool,Fox,363100000.0,420000000.0,2016,7.831000e+08
Inside Out,BV,356500000.0,501100000.0,2015,8.576000e+08
Furious 7,Uni.,353000000.0,1163.0,2015,3.530012e+08
Transformers: Dark of the Moon,P/DW,352400000.0,771400000.0,2011,1.123800e+09
American Sniper,WB,350100000.0,197300000.0,2014,5.474000e+08
Zootopia,BV,341300000.0,682500000.0,2016,1.023800e+09
The Hunger Games: Mockingjay - Part 1,LGF,337100000.0,418200000.0,2014,7.553000e+08
Minions,Uni.,336000000.0,823400000.0,2015,1.159400e+09
Aquaman,WB,335100000.0,812700000.0,2018,1.147800e+09
Spider-Man: Homecoming,Sony,334200000.0,546000000.0,2017,8.802000e+08
Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010,1.025500e+09
Guardians of the Galaxy,BV,333200000.0,440200000.0,2014,7.734000e+08
Batman v Superman: Dawn of Justice,WB,330400000.0,543300000.0,2016,8.737000e+08
It,WB (NL),327500000.0,372900000.0,2017,7.004000e+08
Suicide Squad,WB,325100000.0,421700000.0,2016,7.468000e+08
Deadpool 2,Fox,318500000.0,460500000.0,2018,7.790000e+08
Thor: Ragnarok,BV,315100000.0,538900000.0,2017,8.540000e+08
Iron Man 2,Par.,312400000.0,311500000.0,2010,6.239000e+08
Skyfall,Sony,304400000.0,804200000.0,2012,1.108600e+09
The Hobbit: An Unexpected Journey,WB (NL),303000000.0,718100000.0,2012,1.021100e+09
The Twilight Saga: Eclipse,Sum.,300500000.0,398000000.0,2010,6.985000e+08
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010,9.603000e+08
Inception,WB,292600000.0,535700000.0,2010,8.283000e+08
The Twilight Saga: Breaking Dawn Part 2,LG/S,292300000.0,537400000.0,2012,8.297000e+08

To simplify things we have decided to stick with using one dataset tn_movie_budgets due to it being a larger dataset

In [37]:
df_tn_movie_budgets_gz['total_profit'] = df_tn_movie_budgets_gz['worldwide_gross'].subtract(df_tn_movie_budgets_gz['production_budget'], fill_value=0.0)
df_tn_movie_budgets_gz.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_profit
id,,,,,,
1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08
3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08
4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,9.997217e+08

In [38]:
#We now have a total profit table included

Elimination of NaN values for tn_movie_budgets

In [39]:
#testing for NaN values
df_tn_movie_budgets_gz.isna().sum()

release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
total_profit         0
dtype: int64

In [40]:
df_tn_movie_budgets_gz.worldwide_gross = series_string_to_float(df_tn_movie_budgets_gz.worldwide_gross)

In [41]:
df_tn_movie_budgets_gz.domestic_gross = series_string_to_float(df_tn_movie_budgets_gz.domestic_gross)

In [42]:
items_counts = df_tn_movie_budgets_gz['worldwide_gross'].value_counts(normalize = True)
print(items_counts)

0.0            0.063473
8000000.0      0.001557
7000000.0      0.001038
2000000.0      0.001038
9000000.0      0.000692
                 ...
18524496.0     0.000173
85632458.0     0.000173
527079962.0    0.000173
261443242.0    0.000173
124827316.0    0.000173
Name: worldwide_gross, Length: 5356, dtype: float64

Now that we know our profit dataframe has clean data, we can start working on genre

Now lets explore which genre dataset fits best before cleaning the data set...

In [43]:
df_tmdb_movies_gz.head(50)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635
10,"[16, 35, 10751]",863,en,Toy Story 2,22.698,1999-11-24,Toy Story 2,7.5,7553
11,"[10751, 14, 12]",12155,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713
12,"[53, 12, 28]",27578,en,The Expendables,21.517,2010-08-03,The Expendables,6.1,4647
13,"[16, 10751]",38757,en,Tangled,21.511,2010-11-24,Tangled,7.5,6407
14,"[27, 80]",41439,en,Saw 3D,20.370,2010-10-28,Saw: The Final Chapter,6.0,1488
15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,The Twilight Saga: Eclipse,6.0,4909
16,"[28, 53, 878]",20504,en,The Book of Eli,18.985,2010-01-11,The Book of Eli,6.7,3495
17,"[10402, 10749]",52371,nl,LelleBelle,18.586,2010-10-09,LelleBelle,4.5,36
18,"[28, 18, 53]",2502,en,The Bourne Supremacy,18.199,2004-07-23,The Bourne Supremacy,7.3,4367
19,"[18, 53, 9648]",11324,en,Shutter Island,18.060,2010-02-18,Shutter Island,8.1,12625
20,"[28, 18, 9648, 53]",2501,en,The Bourne Identity,17.935,2002-06-14,The Bourne Identity,7.4,5406
21,"[28, 35]",37834,en,Knight and Day,17.713,2010-06-23,Knight and Day,6.0,2494
22,"[12, 10751, 14]",10140,en,The Chronicles of Narnia: The Voyage of the Da...,17.382,2010-12-10,The Chronicles of Narnia: The Voyage of the Da...,6.3,3196
23,"[18, 10749]",41233,en,Step Up 3D,17.174,2010-08-06,Step Up 3D,6.7,1160
24,"[53, 28, 12, 35, 80]",34544,en,The A-Team,17.097,2010-06-11,The A-Team,6.3,2703
25,"[18, 36]",45269,en,The King's Speech,16.798,2010-09-06,The King's Speech,7.7,5013
26,"[28, 35, 80, 53]",9737,en,Bad Boys,16.608,1995-04-07,Bad Boys,6.6,2936
27,"[28, 12, 10751, 14]",10196,en,The Last Airbender,16.595,2010-07-01,The Last Airbender,4.6,2143
28,"[28, 878, 12, 53]",34851,en,Predators,16.216,2010-07-03,Predators,6.1,1979
29,[18],37799,en,The Social Network,15.889,2010-10-01,The Social Network,7.2,6116
30,"[28, 53]",38234,en,Undisputed III: Redemption,15.886,2010-05-22,Undisputed III: Redemption,7.4,302
31,"[18, 36]",568,en,Apollo 13,15.855,1995-06-30,Apollo 13,7.4,2821
32,"[28, 53, 878, 12]",95,en,Armageddon,15.799,1998-07-01,Armageddon,6.7,4267
33,"[28, 18, 9648, 53]",2503,en,The Bourne Ultimatum,15.620,2007-08-03,The Bourne Ultimatum,7.4,4440
34,"[12, 14, 28]",18823,en,Clash of the Titans,15.574,2010-04-02,Clash of the Titans,5.7,3714
35,"[35, 10749]",34806,en,The Back-Up Plan,15.490,2010-04-23,The Back-Up Plan,6.0,806
36,"[28, 12, 18]",20662,en,Robin Hood,15.444,2010-05-14,Robin Hood,6.3,2569
37,"[35, 14, 10751]",35019,en,Nanny McPhee and the Big Bang,15.213,2010-08-20,Nanny McPhee and the Big Bang,6.1,953
38,"[35, 12, 14, 16, 10751]",10192,en,Shrek Forever After,15.041,2010-05-16,Shrek Forever After,6.1,3843
39,[35],37735,en,Easy A,14.690,2010-09-17,Easy A,6.8,4168
40,"[14, 12, 28, 35, 18]",27022,en,The Sorcerer's Apprentice,14.463,2010-07-13,The Sorcerer's Apprentice,5.9,2879
41,"[28, 35, 10749]",22538,en,Scott Pilgrim vs. the World,14.383,2010-08-13,Scott Pilgrim vs. the World,7.3,3882
42,[35],38365,en,Grown Ups,14.291,2010-06-24,Grown Ups,6.1,3171
43,"[35, 10749]",239,en,Some Like It Hot,14.200,1959-03-18,Some Like It Hot,8.2,1562
44,"[80, 18, 28, 53]",41283,en,Faster,14.172,2010-11-23,Faster,6.2,895
45,[27],7978,en,The Wolfman,14.030,2010-02-12,The Wolfman,5.7,1009
46,"[28, 53]",44048,en,Unstoppable,14.010,2010-11-12,Unstoppable,6.4,1913
47,"[18, 53]",44214,en,Black Swan,13.745,2010-12-03,Black Swan,7.6,8374
48,"[16, 12, 10751, 14]",44683,en,Tinker Bell and the Great Fairy Rescue,13.724,2010-09-21,Tinker Bell and the Great Fairy Rescue,6.5,451
49,"[10749, 18]",61979,es,Tres metros sobre el cielo,13.721,2010-12-20,Three Steps Above Heaven,7.5,960

In [44]:
df_tmdb_movies_gz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.3+ MB

Genres are not in readable format in this dataset

In [45]:
df_imdb_title_basics_gz.head(50)

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"
tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy"
tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama"
tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN
tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama"
tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary
tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary
tt0263814,On kadin,On kadin,2019,NaN,Drama
tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama"
tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History"
tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi
tt0285252,Life's a Beach,Life's a Beach,2012,100.0,Comedy
tt0285423,Abolição,Abolição,2019,NaN,Documentary
tt0293069,Dark Blood,Dark Blood,2012,86.0,Thriller
tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy"
tt0297400,Snowblind,Snowblind,2015,NaN,"Crime,Drama"
tt0306058,Second Coming,Second Coming,2012,95.0,NaN
tt0311448,Lives No Longer Ours,Lives No Longer Ours,2011,90.0,"Drama,Romance"
tt0312305,Quantum Quest: A Cassini Space Odyssey,Quantum Quest: A Cassini Space Odyssey,2010,45.0,"Adventure,Animation,Sci-Fi"
tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama"
tt0323808,The Wicker Tree,The Wicker Tree,2011,96.0,"Drama,Horror"
tt0326592,The Overnight,The Overnight,2010,88.0,NaN
tt0326965,In My Sleep,In My Sleep,2010,104.0,"Drama,Mystery,Thriller"
tt0328810,My Land,Aamaar Bhuvan,2018,102.0,"Drama,Family"
tt0329539,Rice Girl,Rice Girl,2014,95.0,"Adventure,Comedy,Romance"
tt0330811,Regret Not Speaking,Regret Not Speaking,2011,NaN,NaN
tt0330987,"Tiden är en dröm, del 2","Tiden är en dröm, del 2",2014,109.0,NaN
tt0331312,This Wretched Life,This Wretched Life,2010,99.0,"Comedy,Drama"
tt0331314,Bunyan and Babe,Bunyan and Babe,2017,84.0,"Adventure,Animation,Comedy"
tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance"
tt0337882,Blind Sided,Blind Sided,2010,NaN,"Comedy,Crime,Drama"

In [46]:
df_imdb_title_basics_gz.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 11.7+ MB

In [47]:
#Explortation into the genre values

In [48]:
df_imdb_title_basics_gz['genres'].isna().sum()

5408

In [49]:
#Remove all rows with NaN values in genres

In [50]:
df_imdb_title_basics_gz = df_imdb_title_basics_gz[df_imdb_title_basics_gz['genres'].notna()]

In [51]:
df_imdb_title_basics_gz['genres'].isna().sum()

0

In [52]:
df_imdb_title_basics_gz.head()

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [53]:
#using merge and using a left join. As col names are different, using left_on and right_on options

movie_details_df = pd.merge(df_tn_movie_budgets_gz, df_imdb_title_basics_gz, left_on=  ['movie'],
                   right_on= ['primary_title'], 
                   how = 'left')

In [54]:
movie_details_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_profit,primary_title,original_title,start_year,runtime_minutes,genres
0,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09,Avatar,Abatâ,2011.0,93.0,Horror
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy"
2,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08,Dark Phoenix,Dark Phoenix,2019.0,113.0,"Action,Adventure,Sci-Fi"
3,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,Avengers: Age of Ultron,Avengers: Age of Ultron,2015.0,141.0,"Action,Adventure,Sci-Fi"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,9.997217e+08,NaN,NaN,NaN,NaN,NaN

In [55]:
movie_details_df.shape

(7162, 11)

In [56]:
movie_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7162 entries, 0 to 7161
Data columns (total 11 columns):
release_date         7162 non-null object
movie                7162 non-null object
production_budget    7162 non-null float64
domestic_gross       7162 non-null float64
worldwide_gross      7162 non-null float64
total_profit         7162 non-null float64
primary_title        3743 non-null object
original_title       3743 non-null object
start_year           3743 non-null float64
runtime_minutes      3309 non-null float64
genres               3743 non-null object
dtypes: float64(6), object(5)
memory usage: 671.4+ KB

In [57]:
movie_details_df = movie_details_df[movie_details_df['genres'].notna()]

In [58]:
movie_details_df = movie_details_df[movie_details_df['total_profit'].notna()]

In [59]:
movie_details_df.shape

(3743, 11)

In [60]:
movie_details_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_profit,primary_title,original_title,start_year,runtime_minutes,genres
0,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09,Avatar,Abatâ,2011.0,93.0,Horror
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"Action,Adventure,Fantasy"
2,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08,Dark Phoenix,Dark Phoenix,2019.0,113.0,"Action,Adventure,Sci-Fi"
3,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,Avengers: Age of Ultron,Avengers: Age of Ultron,2015.0,141.0,"Action,Adventure,Sci-Fi"
6,"Apr 27, 2018",Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,1.748134e+09,Avengers: Infinity War,Avengers: Infinity War,2018.0,149.0,"Action,Adventure,Sci-Fi"

In [61]:
#genre is a list of upto 3 genres, splitting it to get the individual genres

movie_details_df['genres'] = movie_details_df['genres'].apply(lambda x: x.split(",") if x else x)
movie_details_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_profit,primary_title,original_title,start_year,runtime_minutes,genres
0,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09,Avatar,Abatâ,2011.0,93.0,[Horror]
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,"[Action, Adventure, Fantasy]"
2,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08,Dark Phoenix,Dark Phoenix,2019.0,113.0,"[Action, Adventure, Sci-Fi]"
3,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,Avengers: Age of Ultron,Avengers: Age of Ultron,2015.0,141.0,"[Action, Adventure, Sci-Fi]"
6,"Apr 27, 2018",Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,1.748134e+09,Avengers: Infinity War,Avengers: Infinity War,2018.0,149.0,"[Action, Adventure, Sci-Fi]"

In [62]:
single_genres = pd.DataFrame(movie_details_df['genres'].values.tolist()).iloc[:, [0]]

In [63]:
movie_details_df['genres'] = single_genres

In [64]:
movie_details_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_profit,primary_title,original_title,start_year,runtime_minutes,genres
0,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.351345e+09,Avatar,Abatâ,2011.0,93.0,Horror
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011.0,136.0,Action
2,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-2.002376e+08,Dark Phoenix,Dark Phoenix,2019.0,113.0,Action
3,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,Avengers: Age of Ultron,Avengers: Age of Ultron,2015.0,141.0,Action
6,"Apr 27, 2018",Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,1.748134e+09,Avengers: Infinity War,Avengers: Infinity War,2018.0,149.0,Action

In [65]:
movie_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3743 entries, 0 to 7160
Data columns (total 11 columns):
release_date         3743 non-null object
movie                3743 non-null object
production_budget    3743 non-null float64
domestic_gross       3743 non-null float64
worldwide_gross      3743 non-null float64
total_profit         3743 non-null float64
primary_title        3743 non-null object
original_title       3743 non-null object
start_year           3743 non-null float64
runtime_minutes      3309 non-null float64
genres               1940 non-null object
dtypes: float64(6), object(5)
memory usage: 350.9+ KB

In [66]:
clean_movie_details_df = movie_details_df.drop(columns=['release_date', 'production_budget', 'domestic_gross', 'worldwide_gross', 'primary_title', 'original_title', 'runtime_minutes'])

In [67]:
clean_movie_details_df.head(20)

,movie,total_profit,start_year,genres
0,Avatar,2.351345e+09,2011.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,6.350639e+08,2011.0,Action
2,Dark Phoenix,-2.002376e+08,2019.0,Action
3,Avengers: Age of Ultron,1.072414e+09,2015.0,Action
6,Avengers: Infinity War,1.748134e+09,2018.0,Action
8,Justice League,3.559452e+08,2017.0,Action
9,Spectre,5.796209e+08,2015.0,Action
10,The Dark Knight Rises,8.094391e+08,2012.0,Action
11,Solo: A Star Wars Story,1.181513e+08,2018.0,Adventure
12,The Lone Ranger,-1.499788e+07,2013.0,Action
13,John Carter,7.778100e+06,2012.0,Action
14,Tangled,3.264772e+08,2010.0,Adventure
16,Captain America: Civil War,8.900694e+08,2016.0,Adventure
17,Batman v Superman: Dawn of Justice,6.175003e+08,2016.0,Action
18,The Hobbit: An Unexpected Journey,7.670036e+08,2012.0,Action
20,The Hobbit: The Desolation of Smaug,7.103669e+08,2013.0,Action
21,The Hobbit: The Battle of the Five Armies,6.955776e+08,2014.0,Action
22,The Fate of the Furious,9.848463e+08,2017.0,Action
24,Pirates of the Caribbean: Dead Men Tell No Tales,5.582411e+08,2017.0,Action
26,The Avengers,1.292936e+09,2012.0,Action

In [ ]:
sns.barplot(x='total_profit', y='start_year', hue='genres', data=clean_movie_details_df);

In [ ]:
sns.lmplot(x="total_profit", y="movie", hue="genres", data=clean_movie_details_df);

In [ ]:
n_genres = clean_movie_details_df.groupby("genres")("total_profit").sum()